.home {
  height: 100%;
  padding: 16px;
}

.title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
}

.button {
  display: block;
  padding: 8px;
  border-radius: 8px;
  background-color: #f1f1f1;
  text-align: center;
}

.button + .button {
  margin-top: 16px;
}