@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
